doctype html
html
    head
        style
            include style.css
    body
        div.root
            div.header
                | Hello from my App
            div.content
                block content
            div.footer
                | Made by Vasyl Olesh
